<div id="<%= dom_id quest %>">
  <p>
    <strong>問題:</strong>
    <%= quest.question %>
  </p>
  <p>
    <strong>正解:</strong>
    <%= quest.description %>
  </p>
  <div id="tasks">
    <% quest.tasks.each do |task| %>
      <%= render partial: "tasks/quest_task", locals: { task: task } %>
    <% end %>
  </div>
</div>
