<div id="<%= dom_id task %>">
  <p>
    <strong>類似語:</strong>
    <%= task.similar_word %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= task.completed %>
  </p>

  <p>
    <strong>Quests:</strong>
    <%= task.quest_id %>
  </p>

</div>
